<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<center>
	<header>
		<div class="container">

		<h2>Spam Message Detector</h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<h3><p style="color: #f5427b">Enter Your Message Here</p></h3>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="10" cols="100"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="Predict" style="color:white">
		
	</form>
		
	</div>
</center>

	
</body>
</html>